:root {
    --clr-primary: hsl(0, 0%, 100%);
    --clr-secondary: hsl(275, 100%, 97%);
    --clr-accent: hsl(292, 16%, 49%);
    --clr-tertiary: hsl(292, 42%, 14%);

    --ff-primary: 'Work Sans', sans-serif;
    --ff-secondary: var(--ff-primary);

    --fs-200: .75rem;
    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3rem;

    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-regular: 400;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    color: var(--clr-tertiary);
    background-color: var(--clr-secondary);
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 1.2;
    min-height: 100vh;
}

/* RESETS */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/* LAYOUT */

main {
    display: grid;
    place-content: center;
}

.container {
    display: grid;
    gap: 2rem;
    width: 40rem;
    padding: 2rem;
    margin-block: 2rem;
    background-color: var(--clr-primary);
    border-radius: 1rem;
}

.faq {
    display: flex;
    gap: 1rem;
}

.accordion {
    display: grid;
    gap: 2rem;
}

.q-and-a {
    display: grid;
    gap: 1rem;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    & p {
        font-weight: var(--fw-semibold);

        &:hover, &:focus {
            color: var(--clr-accent);
        }
    }
}

.answer {
    display: none;
    transform: translateY(-100%);
    

    &.show {
        display: block;
        transform: translateY(-100%);
        opacity: 0%;
        animation: slideDown 300ms ease-in forwards;
    }
}  


@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 60%;
        transform: translateY(0);
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}